svg {
  transform: rotate(-90deg);
  border-radius: 50%;
  display: inline-block;
  circle {
    transition: stroke-dashoffset 0.5s ease;
    width: 100%;
    height: 100%;
    fill: #cfd4cf;
    stroke: #8000ff;
    display: block;
  }
}
