<div class="page-wrapper">

    <div class="main-container">
        <h1 class="header">
            Progress Indicator
        </h1>


        <div class="fields-container">
            <div class="field">
                <label for="percent">Percentage: {{percent}} %</label>
                <input id="percent" type="range" min="0" max="100" class="slider" [(ngModel)]="percent" />
            </div>
            <div class="field">
                <label for="radius">Radius: {{radius}}</label>
                <input id="radius" type="range" min="10" max="100" class="slider" [(ngModel)]="radius" />
            </div>
        </div>


        <app-progress-circle class="progress-circle" [total]="100" [completed]="percent" [radius]="radius">
        </app-progress-circle>
    </div>
</div>
